# Ignore virtual environment
env_disease/
env/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore node modules
frontend/node_modules/

# Ignore VS Code settings
.vscode/

# Large data files
backend/market_price/karnataka_data.csv
backend/models/soil_moisture_full.csv
prophet_backend/karnataka_data.csv
